<!doctype html>
<head>
    <meta charset="utf-8">
    <title>{{ page.title }} | Bees in a Pod</title>
    <link href="/static/styles.css" rel="stylesheet" media="screen" type="text/css">
    <link href="/static/js/image-scroller/scroller.css" rel="stylesheet" media="screen" type="text/css">
    <meta name="viewport" content="width=device-width" />  
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
    <script src="/static/js/image-scroller/scroller.js"></script>
</head>

<body>
    <header>
        <div class="header-content">
            <h1><a href="/">Bees in a Pod</a></h1>
        </div>
    </header>

    <div id="content">
            {{ content }}
    </div>

    <footer>
        <div>
            <section class="about-us">
                <h3>About us</h3>
                <p>Matthew (from England) and Juliet (from America) cook and eat tasty food in Oxford</p>
            </section>

            <section class="posts">
                <h3>Archive</h3>
                <ul>
                    {% for post in site.posts limit:5 %}
                    <li><span>{{ post.date | date_to_string }}: </span><a href="{{ post.url }}">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
                <h4><a title="See all posts" href="/">See all posts</a></h4>
            </section>
        </div>
    </footer>
</body>
</html>